<table mat-table [dataSource]="dataSource" class="mat-elevation-z0" *ngIf="currentFilter === filterEnum.noFilter">

  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef> Datum </th>
    <td mat-cell *matCellDef="let time"> {{time.date}} </td>
  </ng-container>

  <ng-container matColumnDef="checkInTime">
    <th mat-header-cell *matHeaderCellDef> Check-In Zeit </th>
    <td mat-cell *matCellDef="let time"> {{time.checkInTime}} </td>
  </ng-container>

  <ng-container matColumnDef="checkOutTime">
    <th mat-header-cell *matHeaderCellDef> Check-Out Zeit </th>
    <td mat-cell *matCellDef="let time"> {{time.checkOutTime}} </td>
  </ng-container>

  <ng-container matColumnDef="note">
    <th mat-header-cell *matHeaderCellDef> Note </th>
    <td mat-cell *matCellDef="let time"> {{time.note}} </td>
  </ng-container>

  <ng-container matColumnDef="summe">
    <th mat-header-cell *matHeaderCellDef> Summe </th>
    <td mat-cell *matCellDef="let time"> {{time.checkOutTime ? moment.utc(moment(time.checkOutTime, 'LTS', 'de' ).diff(moment(time.checkInTime, 'LTS', 'de' ))).format("HH:mm:ss") : ""}} </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>  </th>
    <td mat-cell *matCellDef="let time">
      <button mat-mini-fab color="secondary" *ngIf="time.id !== currentTime?.id" (click)="openDialog(time)">
        <mat-icon>edit</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="noFilterColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: noFilterColumns;"></tr>
</table>

<table mat-table [dataSource]="aggregatedByDay" class="mat-elevation-z0" *ngIf="currentFilter === filterEnum.byDay && aggregatedByDay">

  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef> Datum </th>
    <td mat-cell *matCellDef="let time"> {{time.name}} </td>
  </ng-container>

  <ng-container matColumnDef="summe">
    <th mat-header-cell *matHeaderCellDef> Summe </th>
    <td mat-cell *matCellDef="let time"> {{time.value}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="byDayFilterColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: byDayFilterColumns;"></tr>
</table>

<table mat-table [dataSource]="aggregatedByNote" class="mat-elevation-z0" *ngIf="currentFilter === filterEnum.byNote && aggregatedByNote">

  <ng-container matColumnDef="note">
    <th mat-header-cell *matHeaderCellDef> Note </th>
    <td mat-cell *matCellDef="let time"> {{time.name}} </td>
  </ng-container>

  <ng-container matColumnDef="summe">
    <th mat-header-cell *matHeaderCellDef> Summe </th>
    <td mat-cell *matCellDef="let time"> {{time.value}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="byNoteFilterColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: byNoteFilterColumns;"></tr>
</table>

